<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
	<!-- wp:group {"layout":{"inherit":true}} -->
	<div class="wp-block-group">
		<!-- wp:post-featured-image {"align":"wide"} /-->
		<!-- wp:post-title {"level":1,"align":"wide","style":{"spacing":{"margin":{"top":"7rem","bottom":"7rem"}}}} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:post-content {"layout":{"inherit":true}} /-->

	<!-- wp:spacer {"height":"var(--wp--preset--spacing--40)"} -->
	<div style="height:var(--wp--preset--spacing--40)" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->


	<!-- wp:template-part {"slug":"comments","tagName":"section"} /-->

	<!-- wp:spacer {"height":"var(--wp--preset--spacing--40)"} -->
	<div style="height:var(--wp--preset--spacing--40)" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
